{% extends 'includes/bootstrap.html' %}
{% load static %}

{% block content %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Profile</h4>
                </div>

                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                
                <div class="card-body">
                    <div class="custom-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Profile</a>
                                <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">update profile</a>
                                <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">settings</a>
                            </div>
                        </nav>
                        <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                <div class="row py-5">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-name-1" class="form-label">First Name</label>
                                            <input type="text" id="first-name-1" value="{{ user.first_name | upper }}" class="form-control input-height" placeholder="Enter your first name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="first-name-2" class="form-label">Last Name</label>
                                            <input type="text" id="first-name-2" value="{{ user.last_name | upper }}" class="form-control input-height" placeholder="Enter your last name" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="text" id="email" value="{{ user.email }}" class="form-control input-height" placeholder="Enter your email" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="position" class="form-label">Position</label>
                                            <input type="text" id="position" value="{{ user.employee.position | upper }}" class="form-control input-height" placeholder="Enter your position" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                <form action="{% url 'base:user_profile' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row py-5">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="first-name-1" class="form-label">First Name</label>
                                                <input type="text" id="first-name-1" name="first_name" value="{{ user.first_name | upper }}" class="form-control input-height" placeholder="Enter your first name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="first-name-2" class="form-label">Last Name</label>
                                                <input type="text" id="first-name-2" name="last_name" value="{{ user.last_name | upper }}" class="form-control input-height" placeholder="Enter your last name">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="text" id="email" name="email" value="{{ user.email }}" class="form-control input-height" placeholder="Enter your email">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success"> Submit </button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                <div class="row">

                                    <div class="col-md-6 my-5">
                                        <form action="" method="POST">
                                            <div class="form-group">
                                                <label for="email" class="form-label">Current password</label>
                                                <input type="password" name=" current-password" class="form-control input-height" placeholder="Enter Current Password">
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="form-label">Password</label>
                                                <input type="password" name="password" class="form-control input-height" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="form-label">Confrim Password</label>
                                                <input type="password" name="confrim-password" class="form-control input-height" placeholder="Confrim Password">
                                            </div>

                                            <button class="btn btn-success"> Save </button>
                                        </form>
                                    </div>


                                    <div class="col-md-6 my-5">
                                        <div class="col-md-8 text-center">
                                            {% if request.user.profile.image %}
                                                <img 
                                                    id="profilePreview" 
                                                    src="{{ request.user.profile.image.url }}" 
                                                    alt="User Image" 
                                                    class="img-fluid rounded-circle" 
                                                    style="cursor: pointer;" 
                                                    onclick="document.getElementById('profile_picture').click();" 
                                                >
                                            {% else %}
                                                <img 
                                                    id="profilePreview" 
                                                    src="{% static 'profile2/user.jpg' %}" 
                                                    alt="Default Profile" 
                                                    class="img-fluid rounded-circle" 
                                                    style="cursor: pointer;" 
                                                    onclick="document.getElementById('profile_picture').click();" 
                                                >
                                            {% endif %}
                                        </div>
                                    
                                        <!-- Hidden File Input -->
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="profile_picture" style="display: none;">Upload New Profile Picture</label>
                                                <input 
                                                    type="file" 
                                                    id="profile_picture" 
                                                    name="profile_picture" 
                                                    class="form-control-file" 
                                                    accept="image/*" 
                                                    onchange="previewImage(event)" 
                                                    style="display: none;" 
                                                >
                                            </div>

                                            <button class="btn btn-success text-center justify-content-center"> Update </button>
                                        </div>

                                        
                                    </div>
                                    
                                    <script>
                                        // Preview the selected image
                                        function previewImage(event) {
                                            const reader = new FileReader();
                                            reader.onload = function () {
                                                const output = document.getElementById('profilePreview');
                                                output.src = reader.result;
                                            };
                                            reader.readAsDataURL(event.target.files[0]);
                                        }
                                    </script>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('profilePreview');
            output.src = reader.result || '{% static "assets/img/blank-profile.jpg" %}';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}

{% block extra_css %}
<style>
    .input-height {
        height: 45px; /* Set a fixed height */
        padding: 10px; /* Adjust padding for more height */
    }
</style>
{% endblock %}
