{% extends 'includes/bootstrap.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-center mt-n3">
            <div class="col-xl-6 col-sm-12 col-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h2 class="card-titles">Profile</h2>
                    </div>
                    <div class="card-body">

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" action="{% url 'base:user_profile' %}">
                            {% csrf_token %}
                            <div class="row">
                                <!-- Username -->
                                <div class="col-md-6 form-group">
                                    <label for="username">Username</label>
                                    <input 
                                        type="text" 
                                        id="username" 
                                        name="username"
                                        class="form-control" 
                                        placeholder="Username" 
                                        value="{{ user.username }}" 
                                        required
                                        readonly 
                                    />
                                </div>

                                <!-- First Name -->
                                <div class="col-md-6 form-group">
                                    <label for="first_name">First Name</label>
                                    <input 
                                        type="text" 
                                        id="first_name"
                                        name="first_name"
                                        class="form-control" 
                                        placeholder="First Name" 
                                        value="{{ user.first_name }}" 
                                        required 
                                    />
                                </div>
                            </div>

                            <div class="row">
                                <!-- Last Name -->
                                <div class="col-md-6 form-group">
                                    <label for="last_name">Last Name</label>
                                    <input 
                                        type="text" 
                                        id="last_name" 
                                        name="last_name"
                                        class="form-control" 
                                        placeholder="Last Name" 
                                        value="{{ user.last_name }}" 
                                        required 
                                    />
                                </div>

                                <!-- Email -->
                                <div class="col-md-6 form-group">
                                    <label for="email">Email</label>
                                    <input 
                                        type="email" 
                                        id="email" 
                                        name="email"
                                        class="form-control" 
                                        placeholder="Email Address" 
                                        value="{{ user.email }}" 
                                        required 
                                    />
                                </div>
                            </div>

                            <div class="row">
                                <!-- Job Title -->
                                <div class="col-md-6 form-group">
                                    <label for="job_title">Job Title</label>
                                    <input 
                                        type="text" 
                                        id="job_title"
                                        name="job_title" 
                                        class="form-control" 
                                        placeholder="Job Title" 
                                        value="{{ user.employee.position }}" 
                                        readonly 
                                    />
                                </div>

                                <!-- Employment Status -->
                                <div class="col-md-6 form-group">
                                    <label for="employment_status">Employment Type</label>
                                    <input 
                                        type="text" 
                                        id="employment_status" 
                                        class="form-control" 
                                        placeholder="Permanent" 
                                        value="{{ user.employee.employment_type }}" 
                                        readonly
                                    />
                                </div>
                            </div>

                            <!-- Update Profile Button -->
                            <div class="form-btn text-center">
                                <button type="submit" class="btn btn-success">Update Profile</button>
                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock %}
