{% extends 'includes/bootstrap.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="breadcrumb-path">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <img src="{% static 'assets/img/dash.png' %}" class="mr-2" alt="breadcrumb">Home
                            </a>
                        </li>
                        <li class="breadcrumb-item active">Leave</li>
                    </ul>
                    <h3>Leave</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Apply Leave</h2>

                        {% if messages %}
                        <div class="alert alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'employees:leave_request' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Leave Type <span class="mandatory">*</span></label>
                                        <select class="form-control" name="leave_type">
                                            <option value="">Select leave</option>
                                            <option value="Vacation">Vacation</option>
                                            <option value="Leave">Leave</option>
                                            <option value="Bereavement">Bereavement</option>
                                            <option value="Paternity">Paternity</option>
                                            <option value="Maternity">Maternity</option>
                                            <option value="Time Off with Pay">Time Off with Pay</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>                          
                                
                            
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>From</label>
                                        <input name="start_date" type="date" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>To</label>
                                        <input name="end_date" type="date" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label>Reason</label>
                                        <textarea name="reason" rows="4" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                        
                            <button type="submit" class="btn btn-primary">Apply</button>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Employee Leave Records -->
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Leave Records</h2>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Type</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Notes</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for leave in get_user_leaves %}
                                    <tr>
                                        <td>
                                            <div class="table-img">
                                                <a href="profile.html">
                                                    <img src="{% static 'assets/img/profiles/avatar-13.jpg' %}" alt="profile" class="img-table">
                                                </a>
                                                <label>{{ leave.user.first_name }} {{ leave.user.last_name }}</label>
                                            </div>
                                        </td>
                                        <td>{{ leave.leave_type }}</td>
                                        <td>{{ leave.start_date|date:"d M Y" }}</td>
                                        <td>{{ leave.end_date|date:"d M Y" }}</td>
                                        <td>{{ leave.reason }}</td>
                                        <td>
                                            {% if leave.hr_approved and leave.director_approved %}
                                                <span class="badge badge-success">Approved</span>
                                            {% elif leave.hr_approved %}
                                                <span class="badge badge-info">HR Approved</span>
                                            {% else %}
                                                <span class="badge badge-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td><a href="#" class="text-danger">Delete <i data-feather="trash-2"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
