{% extends 'includes/bootstrap.html' %}
{% load static %}

{% block content %}
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">Pending Salary Advance Requests</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">Pending Salary Advance</li>
                </ul>
            </div>
            <div class="page-header-right ms-auto">
                <div class="page-header-right-items">
                    <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                        <div class="dropdown filter-dropdown">
                            <a class="btn btn-md btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 10" data-bs-auto-close="outside">
                                <i class="feather-filter me-2"></i>
                                <span>Filter</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Role" checked>
                                        <label class="form-check-label" for="Role">Role</label>
                                    </div>
                                </div>
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Team" checked>
                                        <label class="form-check-label" for="Team">Team</label>
                                    </div>
                                </div>
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Email" checked>
                                        <label class="form-check-label" for="Email">Email</label>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="feather-plus me-3"></i>
                                    <span>Create New</span>
                                </a>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-md btn-primary">
                            <i class="feather-plus me-2"></i>
                            <span>Add widget</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ page-header ] end -->

        <!-- [ Main Content ] start -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card stretch stretch-full">
                        <div class="card-header">
                            <h5 class="card-title">Pending Salary Requests</h5>
                        </div>
                        <div class="card-body custom-card-action p-0">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col" class="w-25">Note</th>
                                            <th scope="col">When</th>
                                            <th scope="col">How Much</th>
                                            <th scope="col" class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for advc in get_all_pending_salary_adv %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center gap-3">
                                                    <div class="avatar-text bg-soft-primary text-primary">
                                                        {% if advc.user.profile.image %}
                                                            <img src="{{ advc.user.profile.image.url }}" alt="User Profile" class="avatar-img">
                                                        {% else %}
                                                            <img src="{% static 'profile2/user.jpg' %}" alt="User Profile" class="avatar-img">
                                                        {% endif %}
                                                    </div>
                                                    <div>
                                                        <a href="javascript:void(0);" class="d-block mb-1">{{ advc.user.first_name }} {{ advc.user.last_name }}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="fs-12 fw-medium mb-2">{{ advc.reason }}</div>
                                            </td>
                                            <td>{{ advc.repayment_start_date }}</td>
                                            <td class="fw-bold">{{ advc.amount }}</td>
                                            <td>
                                                <form action="{% url 'admin_users:vett_salary_advc_request' advc.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="hstack gap-2 justify-content-end">
                                                      
                                                        <button type="submit" name="action" value="Approved" class="btn btn-success">
                                                            Approve
                                                        </button>
                                                        <button type="submit" name="action" value="Rejected" class="btn btn-danger">
                                                            Reject
                                                        </button>
                                                    </div>
                                                </form>
                                                
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul class="list-unstyled d-flex align-items-center gap-2 mb-0 pagination-common-style">
                                <li>
                                    <a href="javascript:void(0);"><i class="bi bi-arrow-left"></i></a>
                                </li>
                                <li><a href="javascript:void(0);" class="active">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li>
                                    <a href="javascript:void(0);"><i class="bi bi-dot"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="bi bi-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
